{% extends "layout.html" %}

{% block content %}

<div id="content-wrapper">
    <div class="container-fluid pb-0">
       <div class="top-mobile-search">
          <div class="row">
             <div class="col-md-12">   
                <form class="mobile-search">
                   <div class="input-group">
                     <input type="text" placeholder="Search for..." class="form-control">
                       <div class="input-group-append">
                         <button type="button" class="btn btn-dark"><i class="fas fa-search"></i></button>
                       </div>
                   </div>
                </form>   
             </div>
          </div>
       </div>
       <div class="top-category section-padding mb-4">
          <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                   <h6>Recommended Categories</h6>
                </div>
             </div>
             <div class="col-md-12">
                <div class="owl-carousel owl-carousel-category">
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/accounting_and_commerce.png')}}" alt="">
                            <h6>Accounting & Commerce</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/art_and_humanities .png')}}" alt="">
                            <h6>Art & humanities</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/computing.png')}}" alt="">
                            <h6>Computing</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/entrepreneurship.png')}}" alt="">
                            <h6>Entrepreneurship <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/exam_preparation.png')}}" alt="">
                            <h6>Exam preparation</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/health_and_medical.png')}}" alt="">
                            <h6>Health & medical</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/languages_big.png')}}" alt="">
                            <h6>Languages</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/leadership_and_personal_development.png')}}" alt="">
                            <h6>Leadership & personal development</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/nigeria_scheme.png')}}" alt="">
                            <h6>Nigerian scheme</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/science_and_technology.png')}}" alt="">
                            <h6>Science & technology</h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/social_science.png')}}" alt="">
                            <h6>Social science <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></h6>
                            <p>74,853 views</p>
                         </a>
                      </div>
                   </div>
                   <div class="item">
                      <div class="category-item">
                         <a href="{{url_for('category')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/categories/youtube_big.png')}}" alt="">
                            <h6>Youtube education</h6>
                            <p>74,853 views</lp>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <hr>
       <div class="video-block section-padding">
          <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                   <div class="btn-group float-right right-action">
                      <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                         <a class="dropdown-item" href="#"><i class="fas fa-fw fa-check-circle"></i> &nbsp; Recommended</a>
                         <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                         <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Popular</a>
                      </div>
                   </div>
                   <h6>Recommended courses</h6>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/1.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}">Education</a>   <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/2.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}">Education</a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/3.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-danger">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Unverified"><i class="fas fa-frown text-danger"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/4.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/5.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/6.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-danger">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Unverified"><i class="fas fa-frown text-danger"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/7.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="video-card">
                   <div class="video-card-image">
                      <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                      <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/8.png')}}" alt=""></a>
                      <div class="time">Youtube Playlist</div>
                   </div>
                   <div class="video-card-body">
                      <div class="video-title">
                         <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <hr class="mt-0">
       <div class="video-block section-padding">
          <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                   <div class="btn-group float-right right-action">
                      <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      put a next button (12 max.)<i class="fa fa-caret-down" aria-hidden="true"></i>
                      </a>
                   </div>
                   <h6>Recommended Libraries</h6>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="channels-card">
                   <div class="channels-card-image">
                      <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/khan academy logo.jpg')}}" alt=""></a>
                      <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                   </div>
                   <div class="channels-card-body">
                      <div class="channels-title">
                         <a href="{{url_for('library')}}">Khan academy</a>
                      </div>
                      <div class="channels-view">
                         382,323 subscribers
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="channels-card">
                   <div class="channels-card-image">
                      <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/starlab academy.png')}}" alt=""></a>
                      <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                   </div>
                   <div class="channels-card-body">
                      <div class="channels-title">
                         <a href="{{url_for('library')}}">Starlab academy</a>
                      </div>
                      <div class="channels-view">
                         382,323 subscribers
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="channels-card">
                   <div class="channels-card-image">
                      <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/2 mc.png')}}" alt=""></a>
                      <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                   </div>
                   <div class="channels-card-body">
                      <div class="channels-title">
                         <a href="{{url_for('library')}}">2 minute class <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                      </div>
                      <div class="channels-view">
                         382,323 subscribers
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-3 col-sm-6 mb-3">
                <div class="channels-card">
                   <div class="channels-card-image">
                      <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/fuse school.jpg')}}" alt=""></a>
                      <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                   </div>
                   <div class="channels-card-body">
                      <div class="channels-title">
                         <a href="{{url_for('library')}}">Fuse school</a>
                      </div>
                      <div class="channels-view">
                         382,323 subscribers
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <hr>
       <div class="video-block section-padding">
        <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                   <h6>Recommended Modules</h6>
                </div>
             </div>
       <!-- Content Row -->
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/1.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"><img src="{{url_for('static', filename='img/library/2 mc.png')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"><p class="card-text text-gray-900 mt-3 mb-3">The Name Of The Video.</p></a>
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}"> Education  </a><a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/2.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/7 active.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"><p class="card-text text-gray-900 mt-3 mb-3">The Name Of The Video </p> </a>  
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/3.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/Amoeba sis.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a> 
                      <div class="video-title">
                          Short description of the video
                      </div>
                      <div class="video-page text-success">
                       <a href="{{url_for('category')}}"> Education </a>  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/4.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/AMrita logo.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"><p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a> 
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/5.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"><img src="{{url_for('static', filename='img/library/bozeman science.jpg')}}"  class="rounded-circle" alt="..."></a> 
                      <a href="{{url_for('view')}}"><p class="card-text text-gray-900 mt-3 mb-3">The name of the video </p></a>
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/6.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">

                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/byjus.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a>
                      
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education</a>  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/7.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/cellmicrocosmos.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p>  </a>      
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/8.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                       <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/khan academy logo.jpg')}}" class="rounded-circle" alt="..."></a>
                       <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a>
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education</a>  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/1.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/ibiology and youreka science 01.jpg')}}" class="rounded-circle" alt="..."></a>
                       <a href="{{url_for('view')}}"><p class="card-text text-gray-900 mt-3 mb-3">The name of the  video</p></a>
                      
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/2.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/civics Academy.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"><p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a> 
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education <a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/3.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/ibiology and youreka science 02.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a>
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/9.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"><img src="{{url_for('static', filename='img/library/fuse school.jpg')}}" class="rounded-circle" alt="..."></a> 
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a>
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education  </a><a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/5.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/oasdom.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video </p></a>
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/6.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/PBS digital studios.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a>
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/7.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/teachers pet logo.jpg')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"> <p class="card-text text-gray-900 mt-3 mb-3">The name of the video</p></a>                    
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                        <a href="{{url_for('category')}}"> Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
          <div class="col-xl-3 col-md-4 mb-4">
             <div class="card offer-card shadow border-0">
                <a href="{{url_for('view')}}">
                   <div class="m-card-cover">
                      <img src="{{url_for('static', filename='img/modules/10.png')}}" class="card-img-top" alt="...">
                   </div>
                   <div class="card-body p-3">
                      <a href="{{url_for('library')}}"> <img src="{{url_for('static', filename='img/library/starlab academy.png')}}" class="rounded-circle" alt="..."></a>
                      <a href="{{url_for('view')}}"><p class="card-text text-gray-900 mt-3 mb-3">The name of the video </p></a>                          
                      <div class="video-title">
                         Short description of the video
                      </div>
                      <div class="video-page text-success">
                         <a href="{{url_for('category')}}">Education </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                      </div>
                      <div class="video-view">
                         1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                      </div>
                   </div>
                </a>
             </div>
          </div>
        </div>
       
       <div class="text-center mt-1 mb-4 col-12">
          <div class="spinner-border" role="status">
             <span class="sr-only">Loading...</span>
          </div>
       </div>

</div>

{% endblock %}
