
{% extends "layout.html" %}

{% block content %}

         <div id="content-wrapper">
            <div class="container-fluid pb-0">
               <div class="top-category section-padding mb-4">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <h6>Popular Categories</h6>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="owl-carousel owl-carousel-category">
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/accounting_and_commerce.png')}}" alt="">
                                    <h6>Accounting & Commerce</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/art_and_humanities .png')}}" alt="">
                                    <h6>Art & humanities</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/computing.png')}}" alt="">
                                    <h6>Computing</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/entrepreneurship.png')}}" alt="">
                                    <h6>Entrepreneurship <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/exam_preparation.png')}}" alt="">
                                    <h6>Exam preparation</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/health_and_medical.png')}}" alt="">
                                    <h6>Health & medical</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/languages_big.png')}}" alt="">
                                    <h6>Languages</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/leadership_and_personal_development.png')}}" alt="">
                                    <h6>Leadership & personal development</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/nigeria_scheme.png')}}" alt="">
                                    <h6>Nigerian scheme</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/science_and_technology.png')}}" alt="">
                                    <h6>Science & technology</h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/social_science.png')}}" alt="">
                                    <h6>Social science <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></h6>
                                    <p>74,853 views</p>
                                 </a>
                              </div>
                           </div>
                           <div class="item">
                              <div class="category-item">
                                 <a href="{{url_for('category')}}">
                                    <img class="img-fluid" src="{{url_for('static', filename='img/categories/youtube_big.png')}}" alt="">
                                    <h6>Youtube education <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></span></h6>
                                    <p>74,853 views</lp>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="video-block section-padding">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <div class="btn-group float-right right-action">
                              <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-check-circle"></i> &nbsp; Recommended</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Trending</a>
                              </div>
                           </div>
                           <h6>Top Rated Libraries </h6>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/civics Academy.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Civics Academy</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/teachers pet logo.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Teachers Pet </a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/ibiology and youreka science 01.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Youkera Science <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/Amoeba sis.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Amoeba Sisters</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/2 mc.png')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">2 Minute Classroom</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/byjus.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Byju</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/fuse school.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Fuse School <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/7 active.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">7 active</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/AK lectures.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">AK lectures</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/AMrita logo.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">AMrita </a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/bozeman science.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Bozeman Science <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/lets tute.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Let's Tute</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="video-block section-padding">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <div class="btn-group float-right right-action">
                              <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 put a next button (12 max.) <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </a>
                           </div>
                           <h6>Featured Courses </h6>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="video-card">
                           <div class="video-card-image">
                              <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                              <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/2.png')}}" alt=""></a>
                              <div class="time">Youtube Playlist</div>
                           </div>
                           <div class="video-card-body">
                              <div class="video-title">
                                 <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                              </div>
                              <div class="video-page text-success">
                                <a href="{{url_for('category')}}">Education</a>   <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="video-card">
                           <div class="video-card-image">
                              <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                              <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/3.png')}}" alt=""></a>
                              <div class="time">Youtube Playlist</div>
                           </div>
                           <div class="video-card-body">
                              <div class="video-title">
                                 <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                              </div>
                              <div class="video-page text-danger">
                                <a href="{{url_for('category')}}"> Unknown </a> <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Unverified"><i class="fas fa-frown text-danger"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="video-card">
                           <div class="video-card-image">
                              <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                              <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/1.png')}}" alt=""></a>
                              <div class="time">Youtube Playlist</div>
                           </div>
                           <div class="video-card-body">
                              <div class="video-title">
                                 <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                              </div>
                              <div class="video-page text-success">
                                <a href="{{url_for('category')}}">Education</a>   <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="video-card">
                           <div class="video-card-image">
                              <a class="play-icon" href="{{url_for('view')}}"><i class="fas fa-play-circle"></i></a>
                              <a href="{{url_for('view')}}"><img class="img-fluid" src="{{url_for('static', filename='img/courses/4.png')}}" alt=""></a>
                              <div class="time">Youtube Playlist</div>
                           </div>
                           <div class="video-card-body">
                              <div class="video-title">
                                 <a href="{{url_for('view')}}">There are many variations of passages of Lorem</a>
                              </div>
                              <div class="video-page text-success">
                                <a href="{{url_for('category')}}">Education</a>   <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               <hr>
               <div class="video-block section-padding">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <h6> Libraries Till Date </h6>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/oasdom.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Oasdom</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/toppr.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Toppr</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/khan academy logo.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">khan Academy <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/PBS digital studios.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">PBS Digital Studios</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/mr rittner.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Mr Rittner</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/mexus logo.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Mexus </a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/PBS digital studios.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">PBS Digital Studios <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/AMrita logo.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">AMrita </a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/cellmicrocosmos.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Cellmicrocosmos</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/m s logo.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">M S</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/mr rittner.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Mr Rittner <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/N.M.M.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">N.M.M</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/igcse account.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Igcse Account</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/khan academy logo.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">khan Academy</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/starlab academy.png')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-secondary btn-sm">Subscribed <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">StarLab Academy <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Verified"><i class="fas fa-check-circle"></i></span></a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="channels-card">
                           <div class="channels-card-image">
                              <a href="{{url_for('library')}}"><img class="img-fluid" src="{{url_for('static', filename='img/library/byjus.jpg')}}" alt=""></a>
                              <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>1.4M</strong></button></div>
                           </div>
                           <div class="channels-card-body">
                              <div class="channels-title">
                                 <a href="{{url_for('library')}}">Byju</a>
                              </div>
                              <div class="channels-view">
                                 382,323 subscribers
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="text-center mt-1 mb-4 col-12">
                     <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>

{% endblock %}

